<div class="card">
    <div class="card-body">
        <form [formGroup]="userForm" (ngSubmit)="formSubmitted()">
            <table>
                <div class="mb-3">
                <tr>
                    <td><label for="firstName" class="form-label">First Name: </label></td>
                    <td><input class="mx-4" type="text" id="firstName" name="firstName" formControlName="firstName" /></td>
                </tr>
                </div>
                <div class="mb-3">
                    <tr>
                        <td><label for="lastName" class="form-label">Last Name: </label></td>
                        <td><input class="mx-4" type="text" id="lastName" name="lastName"  formControlName="lastName"/></td>
                    </tr>
                </div>
                <div class="mb-3">
                    <tr>
                        <td><label for="exampleInputEmail1" class="form-label">Email address: </label></td>
                        <td><input type="email" id="exampleInputEmail1" name="email"  formControlName="email"/></td>
                    </tr>
                </div>
                <div class="mb-3">
                    <tr>
                        <td><label for="gender" class="form-label">Gender: </label></td>
                        <td><input type="radio" id="gender" value="male" class="mx-4" name="gender" formControlName="gender" />Male
                        <input type="radio" id="gender" value="female" class="mx-4" name="gender" formControlName="gender" />Female</td>
                    </tr>
                </div>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </td>
                    <td>
                        <button type="reset" class="btn btn-danger">Clear</button>
                    </td>
                </tr>
            </table>
           
            
            
        </form>
    </div>
</div>